<div class="jumbotron center">

<h1>Welcome to Your Art Project Tracker!</h1>
<p> With this tracker, you will be able to keep track of your art projects!</p>
<p> Continue to make an account to schedule art projects and plan them out! </p> 
<p><%= link_to "Sign Up", signup_path, class:"btn btn-danger btn-lg btn-xlarge" %>

</div>
