
<center>
<img src="https://media1.tenor.com/images/8688af30debe9f7914bf9d780496cc2c/tenor.gif?itemid=5675630" alt="ajiegdl"/>
</center>

<%= render "shared/page_title", title: "All Your Future Art Project Plans" %>
<%= render 'artplan', obj: @art_plans %>

<center>
<h1> <center> <p style="color:pink;"><span style="font-family:Chalkduster, fantasy">Almost ready to make a masterpiece! </p></center></span> </h1>
<img src="https://media1.tenor.com/images/3785028481f1d50059177123ae2e9826/tenor.gif?itemid=5675658" alt="dolfin"/>
