<h1> <center> <p style="color:pink;"><span style="font-family:Chalkduster, fantasy">Welcome to Your Art Project Tracker! </p></center></span> </h1>


<h4> <center> <p style="color:pink;"><span style="font-family:Chalkduster, fantasy">

<%= render "shared/page_title", title: "Add New Art Project and Start Planning!" %>
<%= render 'form', {artplan: @art_plan, art_project: @art_project}%>
</p></center></span> </h4>

<h1> <center> <p style="color:pink;"><span style="font-family:Chalkduster, fantasy">Motivation! </p></center></span> </h1>

<center>
<img src="https://media1.tenor.com/images/58863bf1b0b453857aa0a3e390eac3c6/tenor.gif?itemid=5675661" alt="bobross"/>
</center>
