<%= render "shared/page_title", title: "All Of Your Art Projects" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'art_project', obj: @art_projects %>
<div align="center">
  <%= will_paginate %>
</div>


