  <%= render "shared/page_title", title: "All Of Your Art Project Scheduling" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'artschedule', obj: @art_schedules %>
<div align="center">
  <%= will_paginate %>
</div>